<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="educator">
      <h2 data-cy="educatorDetailsHeading"><span>Educator</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ educator.id }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ educator.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ educator.lastName }}</span>
        </dd>
        <dt><span>Gender</span></dt>
        <dd>
          <span>{{ educator.gender }}</span>
        </dd>
        <dt><span>Profile Image</span></dt>
        <dd>
          <div *ngIf="educator.profileImage">
            <a (click)="openFile(educator.profileImage, educator.profileImageContentType)">
              <img
                [src]="'data:' + educator.profileImageContentType + ';base64,' + educator.profileImage"
                style="max-width: 100%"
                alt="educator image"
              />
            </a>
            {{ educator.profileImageContentType }}, {{ byteSize(educator.profileImage) }}
          </div>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ educator.email }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ educator.user?.login }}</span>
        </dd>
        <dt><span>Grade</span></dt>
        <dd>
          <span *ngFor="let grade of educator.grades; let last = last">
            <a [routerLink]="['/grade', grade.id, 'view']">{{ grade.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/educator', educator.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
