<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="guardian">
      <h2 data-cy="guardianDetailsHeading"><span>Guardian</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ guardian.id }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ guardian.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ guardian.lastName }}</span>
        </dd>
        <dt><span>Gender</span></dt>
        <dd>
          <span>{{ guardian.gender }}</span>
        </dd>
        <dt><span>Profession</span></dt>
        <dd>
          <span>{{ guardian.profession }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/guardian', guardian.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
